@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital@0;1&family=Montserrat:wght@500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&family=Satisfy&display=swap');




:root{
    --primary: rgb(19, 86, 163);
    --secondary: green;
    --white: #ffff;
    --background: rgb(241, 240, 240);
}

h1{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;

}h4{
    font-family: 'Montserrat', sans-serif;
}
h5{
    font-family: 'Montserrat', sans-serif;
}
h6{
    font-family: 'Montserrat', sans-serif;
}







header{
    padding: 10px 0;
    background-image: url(images/kjl;fdskjak.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header .logo{
    width: 60%;
}
header .logo img{
    width: 100%;
    height: 80px;
}
header .container{
    position: relative;
}
header .navicon{
    width: 30px;
    height: 20px;
    position: absolute;
    top: 35px;
    right: 15px;
    display: none;
}

header .menu{

}
header .menu ul{
    padding: 20px 0px;
    margin: 0px 0;
    width: 100%;
    justify-content: space-between;
   
}
header .menu ul li{
    position: relative;
}
header .menu ul li a::after{
    content: "";
    width: 00%;
    height: 3px;
    background:linear-gradient(to right, var(--primary), var(--secondary)) ;
    position: absolute;
    bottom: -23px;
    left: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.menu ul li:hover a::after{
    width: 100%;
}
header .menu ul li a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 20px;
    font-weight: 700;
}
header .menu ul li a:hover{}

button{
    background-color: var(--primary);
}


.banner-area{
   ackground:linear-gradient(to bottom,rgba(1, 76, 161, 0.602), rgba(2, 128, 2, 0.459)) ,url(images/vecteezy_saving-solar-panel-energy-for-smart-home_.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center top;
   height: auto;
   ackground-attachment: fixed;
   position: relative;
}
.banner-area .banner-image{
    width: 100%;
}
.banner-area .banner img{
    width: 100%;
    height: 100%;
}
.banner-area video{
    position: relative;
}
.banner-area .banner-layer{
    width: 100%;
    height: 110%;
    padding: 25px 0;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px black;
    margin: 0px auto;
    text-align: center;
   
    
}
.banner-area{
    position: relative;
}
.banner-area .banner-right{
    width: 60%;
    position: absolute;
    top: 25%;
    left: 20%;
    text-align: center;
    overflow: hidden;
    color: white;
}
.banner-area .banner-right h3{
    color: var(--secondary);
    font-weight: 700;
}
.banner-area .banner-right h1{
   text-transform: uppercase;
   color: rgb(245, 245, 245);
   margin: 15px 0;
}
.banner-area .banner-right p{
    font-size: 22px;
    margin-top: 30px;
}

.banner-area .banner-right .button{
    width: 100%;
    text-align: center;
    margin: 25px 0;
}
 img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.banner-area .banner-right button{
    text-align: center;
    background:var(--primary);
    color: white;
    padding: 5px 13px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
    border: 2px solid white;
}
.banner-area .banner-right button:hover{
    background:linear-gradient(to right, blue, green);
}


.banner-video
.banner-area  .banner-layer{
    background:linear-gradient(to bottom, green,rgb(19, 86, 163));
}
.banner-area .banner-video{
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.692);
    height:;
    z-index:888888 ;
}
.banner-area video{
    max-width: 100%;
    height: auto;
    z-index: -555;
}






.section1{
    width: 90%;
    padding: 50px 025px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 70px;
}
.section1 .container{
    padding: 50px 0;
    background-color: white;
    position: absolute;
    top: -120px;
    z-index: 999999999999;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px 50px 10px 50px;
    -webkit-border-radius: 10px 50px 10px 50px;
    -moz-border-radius: 10px 50px 10px 50px;
    -ms-border-radius: 10px 50px 10px 50px;
    -o-border-radius: 10px 50px 10px 50px;
}
.section1 .row{
    text-align: center;
}
.section1 h3{
    color: var(--secondary);
    font-size: 26px;
    font-weight: 700;
    text-align: center;
   margin-bottom: 50px;
}

.section1 .smart-solar-area img{
    width: 50px;
    height: 50px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

    animation-name: environment;
   animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.section1 .smart-solar-area h6{}

@keyframes environment {
    0%{
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
}
    50%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
}
}




.banner-area video{
    position: relative;
}
.section1 







.section2{
    background-image: url(images/nmksdfaknakds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 50px 0;
}
.section2 .container{
    padding: 60px 0;
}
.whyus-area{
    padding: 50px 0;
}
.whyus-area h5{
    color: var(--secondary);
    font-weight: 700;
}
.whyus-area button{
    background-color:var(--secondary);
    color: white;
    text-transform:uppercase;
    padding: 4px 10px;
    font-weight: 600;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.whyus-area button:hover{
   background-color: var(--secondary);
}

.section2-left{}
.section2-left img{
    width: 95%;
    height: 400px;
}







.section4{
    padding: 50px 0;
    background-color: var(--background);
    position: relative;
}
.section4 .container{
 position: relative;
}
.section4 .about-img{
    position: relative;
}
.section4 .experience{
    width: 30%;
    height: 55px;
    background-color: green;
    padding:  10px;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0;
   left: 50%;
    margin-top: -25px;
    z-index: ;
}
.section4 .experience p{
   
}
.section4 .about-img img{
    width: 100%;
    
}
.about-area .about-text{
    margin: 100px 0;
    padding: 25px 0;
}
.about-area .about-text h4{
    color: var(--secondary);
    font-weight: 700;
}
.about-area .about-text h2{
    margin: 15px 0;
}
.about-area .about-text p{
    margin-top: 30px;
}
.about-area .button{}
.about-area .button button{
    background-color: var(--secondary);
    color: white;
    padding: 5px 15px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about-area .button button:hover{
    background: linear-gradient(to left, var(--secondary), var(--primary));
}













.services-area{
    padding: 50px 0;
    background-image: url(images/kjl;fdskjak.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}
.services-area .service-top{
    text-align: center;
    margin:50px 0;
}
.services-area .service-top h5{
    text-align: center;
    color:var(--secondary);
    font-weight: 700;
}.services-area .service-top .why-text{
    text-align: center;
}
.services-area .common{
    text-align: center;
}

.services-area .common .icon img{
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 20px;
    /*background-color:var(--secondary) ;
    */border-radius:50%;
    -webkit-border-radius:;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    -webkit-border-radius:50%;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
}
.services-area .common img:hover{
    box-shadow: 0px 0px 5px black;
}



.services-area .common{}








.savemoney-area{
    background-color: var(--background);
    padding: 50px 0;
}
.savemoney-area{}
.savemoney-area .video{
    
}.savemoney-area .video video{
    width: 100%;
}
.savemoney-area .useful-text h2{
  margin: 25px 0;
}
.savemoney-area .useful-text{
    margin: 50px 0;
}
.savemoney-area .useful-text h4{
   color: var(--secondary);
}



.uses-area{
    padding: 50px 0;
    background-image: url(images/nmksdfaknakds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.use-left{
    margin: 50px 0;
}
.uses-area .use-left h3{
    color: var(--secondary);
    font-weight: 700;
    margin-bottom: 30px;
}
.uses-area .use-left p{
    font-size: 19px;
}






.work-history{
    width:100%;
    /* height:500px;
    background: url(images/vecteezy_saving-solar-panel-energy-for-smart-home_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    padding: 50px 0;
    overflow: hidden;
}
.work-history h2{
    text-align: center;
    background-color: var(--secondary);
    padding: 25px 0;
    color: var(--white);
    text-transform: uppercase;
}
.work-history .attachted-bg{
    /* width: 60%;
    float: right; */
    overflow: hidden;
}
.work-history .history{
    background-color: var(--background);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height:150px;
}
.history .flex{
    display: flex;

}
.history .flex .icon{
    margin:25px 0;
}
.history .flex img{
    width: 60px;
    height: 60px;
    margin: 0px 15px;
}
.history .flex span{
   margin: 10px 0;
}
.history .flex h4 span{
    font-weight: 700;
    color: var(--secondary);
    font-size: 30px;
   padding-bottom:50px;
}
.history .flex span p{
   font-weight: 700;
}









/* Projects Area */


.recent-projects{
    padding: 50px 0;
    background-color: var(--background);
}
.recent-projects h2{
    padding: 25px 0;
    text-align: center;
    color: var(--secondary);
    font-weight: 700;
}
.recent-projects .project{
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    margin: 10px 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
.recent-projects .project img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .5s;
    -webkit-transition: .8s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    
}
.recent-projects .project:hover{
   cursor: pointer;
}
.recent-projects .project img:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    
}






.section-11{
    background-color: var(--background);
    padding: 25px 0;
}
.section-11 h2{
    text-align: center;
    padding-top: 25px;
}
.section-11 h4{
    text-align: center;
    color: var(--secondary);
    font-weight: 700;
}
.owl-carousel{
    padding: 10px 0
}
.section-11 .item{

}

.comment{
    background-color: ;
    text-align: center;
    position: relative;
    padding: 20px 20px;
    box-shadow: 0;
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.comment-top span{
	font-size: 20px;
	font-weight: 600;
	margin: 15px 0;
    color: var(--secondary);
}
.comment .profile{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	left: 38%;
	z-index: 999999999;

}
.comment .profile img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 3px solid var(--secondary);
	padding: 5px;
}

.comment-footer{
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
}
.comment-footer .social-icon{
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}
.comment-footer .icon{
	font-size: 20px;
	transition: .5s;
    color: var(--secondary);
}
.icon i:hover{
	transform: scale(1.1);
	cursor: pointer;
}
i{
    cursor: pointer;
}




.more-clients{
    width: 50%;
    margin: 0 auto;
    display: flex;
   padding-left: 30px;
}
.more-img{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
}

.more-img img{
    width: 50px;
    height: 50px;
    margin-left: -15px;
    padding: 3px;
    box-shadow: 0px 2px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid var(--secondary);
    position: absolute;
    top: 20px;
    left: 50px;

    animation-name: profile;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.more-img2 img{
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
   border: 1px solid var(--secondary);
   position: absolute; top: 20px;
   left: 50px;
   top: 20px;

   animation-name: profile;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

}
.more-img3 img{
    animation-name: profile;
   animation-duration: 2.5s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
.more-img2 img{
    margin-left: -45px;
}
.more-img3{
    margin-left: -45px;
}

.more-comment{
    margin:30px;

}
.more-comment p{
    margin-left: 15px;
    color: var(--primary);
    font-weight: 600;
}
.more-comment p span{
    font-weight: 700;
    font-size: 19px;
    color: var(--secondary);
}

@keyframes profile {
    0%{
        transform: translateY(1.5px);
        -webkit-transform: translateY(1.5px);
        -moz-transform: translateY(1.5px);
        -ms-transform: translateY(1.5px);
        -o-transform: translateY(1.5px);
} 
    50%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }  
    100%{
        transform: translateY(1.5px);
        -webkit-transform: translateY(1.5px);
        -moz-transform: translateY(1.5px);
        -ms-transform: translateY(1.5px);
        -o-transform: translateY(1.5px);
} 
  
}






/* ///////////////    Faq area             ///////////// */

.faq-area{
    background-image: url(images/nmksdfaknakds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.faq{
    width: 75%;
    margin:  0 auto;
   
}
.faq-area h3{
    text-align: center;
    padding: 20px 0;
    padding-top: 0px;
    font-weight: 600;
}
.faq-area h3 span{
    color: var(--secondary);
    font-weight: 700;
    font-size: 40px;
}
.question-anser{}
.question{
    border: 2px solid rgb(207, 207, 207);
    padding: 10px;
    display: flex;
    margin: 12px 0;
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
}
.question h4{
    width: 70%;
    overflow: hidden;
    padding: 5px 0;
}
.answer p{
    display: none;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 18px;
}
.question{
    overflow: hidden;
}
.question span{
    width: 70px;
    float: right;
    overflow: hidden;
    display: none;
}

.question{
    position: relative;
}
.question .faq-icon{
    display: flex;
    text-align: center;
    padding: 10px 0;
}
.question{
    position: relative;
}
.faq-icon p i{
    width: 50px;
    position: absolute;
    top: 25px;
    right: 0px;
    color: var(--secondary);
}

.faq-icon .hide{
    display: none;
}


    .companies{
        width: 100%;
        padding: 50px 0;
        background-color: var(--background);
    }
    .companies .company-logo{
        width: 90%;
        margin: 0 auto;
    }
    .companies .company-logo h2{
        padding: 35px 0;
        text-align: center;
        color: var(--secondary);
        text-transform: uppercase;
    }
    .companies .item{
        width: 50%;
        margin: 0 auto;

    }
    .companies .item img{
        width: 60px;
        height: 100px;
    }







.get-start{
    width: 100%;
    height: 80vh;
    padding: 150px 25px;
    position: relative;
    margin-bottom: 0px;
    background-image: url(images/vecteezy_saving-solar-panel-energy-for-smart-home_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.get-start .start{
    width: 80%;
    background-color:var(--background);
    border-radius: 20px;
    padding: 50px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px black;
    position: absolute;
    z-index: 999999999;
    bottom: -80px;

}

.get-start .left{}
.get-start .left h4{
    color: var(--secondary);
    font-weight: 700;
}
.get-start form{
    display: flex;
}
.get-start .right .fill{
    width: 80%;
}
.get-start .right .fill input{
    width: 100%;
}
.get-start form .button input{
    background-color: var(--secondary);
    color: white;
    padding: 4px 10px;
    margin-left: -25px;
   font-family: Arial, Helvetica, sans-serif;
}








.footer-area{
    background-color: var(--secondary);
    padding: 20px 0;
    color: white;
    padding-top: 150px;
    position: relative;
}
.footer-area{}
.footer-area{}
.footer-area .middle{}
.footer-area .middle img{
    width: 30px ;
    height: 30px;
    margin: 0px 10px;
}
.footer-area .location{
    display: flex;
}

.footer-area .left{}
.footer-area .left h5{
    padding: 15px 0;
    text-align: left;
}


.footer-area .middle{}
.footer-area .middle h5{
    text-align: left;
    margin-left: 15px;
    padding: 15px 0;
}

.footer-area .social-media i{
   font-size: 30px;
   justify-content: space-between;
   margin: 0px 10px;
}
.footer-area h5{
    text-align: center;
}
.footer-area .right{
    margin-top: 20px;
}
.footer-area .right .social-media{
   margin: 50px 0;
   text-align: center;
}
.footer-area .social-media i{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.footer-area .social-media i:hover{
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);

}


.footer-area .copy-right{
    margin-top: 60px;
}
.footer-area .copy-right p{
    text-align: center;
}



